body{
    background-color: #e5e5e5;
}
.topbar{
    background-color:#CF2B2B;
    color:#fff;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    height: 92px;
    display: flex;
    align-items: center;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); 
}
.topbar h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    margin-left: 22px;
}
.topbar p{
    font-size: 18px;
    margin-left: 22px;
}
.option{
    min-width: 172px;
    height: 216px;
    cursor: pointer;
    background-color: #fff;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25); 
    margin: 17px 16px 27px 0px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;

}
.option h2, .option h3, .option h4{
    margin:8px 15px 0 15px;
}

.row {
    display: flex;
    overflow-x: scroll;
    
}
.content{
    padding-top: 123px;
    margin-left: 19px;
}
.optionPhoto{
    margin: 18px auto 0px auto;
    width: 144px;
    height: 87px;
    border-radius: 4px;
    object-fit: cover;
}
.content h1{
    font-size: 26px;
    font-family: 'Righteous', cursive;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}